body {
	margin: 0;
	padding: 0;
	background: url(../images/background1.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	overflow-x: hidden;
}

p {
	font-size: 20px;
}

p.small {
	font-size: 16px;
}

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	color: #18bc9c;
	text-decoration:none;
}

a h1, a h2, a h3, a h4, a h5, a h6 {
	color:black;
	
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.htitle {
	background-color: rgba(255, 255, 255, 0.6);
	position: fixed;
	z-index: 100;
}

.login_box {
	margin-top: 15px;
	border-radius: 2px;
	padding: 5px;
	background-color: white;
	height: 100%;
}

.pin-msgn {
	margin-top: 15px;
	border-radius: 4px;
	background-color: white;
	padding: 15px;
}

/*responsive*/
@media screen and (min-width: 994px) {
	.login_box {
		position: fixed;
	}
	.main-page {
		margin-top: 80px;
	}
}

@media screen and (max-width: 993px) {
	.htitle {
		display: none;
	}
}